
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped" action="/cart">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <!-- {% if session %} -->
        <tr>
            {% for melon in melons_bought.keys() %}
            <td>{{melon}}</td>
            <td>{{melons_bought[melon]['quantity']}}</td>
            <td>$ {{'%.02f' % melons_bought[melon]['price']}}</td>
            <td>$ {{'%.02f' % melons_bought[melon]['cost']}}</td>
            
        </tr>
        {% endfor %}
        <!-- {% endif %} -->
        </tbody>
    </table>

    <h3>Total: $27.00</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
